--enable-generic-code --with-max-am=4 --with-opt-am=3 --enable-eri3=0 --enable-eri3-pure-sh --enable-eri2=0 --enable-eri2-pure-sh --enable-fma --with-multipole-max-order=4 CXX=clang++ 'CXXFLAGS=-std=c++11 -mcpu=native -O3' 'LDFLAGS=-L/opt/homebrew/lib -L/opt/homebrew/Cellar/gmp/6.3.0/lib' 'CPPFLAGS=-I/opt/homebrew/Cellar/boost/1.83.0/include -I/opt/homebrew/include/eigen3 -I/opt/homebrew/Cellar/gmp/6.3.0/include'
